@import "../../style.scss";
.posts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

* {
  @include themify($themes) {
    color: themed("textColor");

    .text-nodata {
      color: themed("textColor");
    }
  }
}
